[Unit]
Description=DO&CO Scanning Service
After=network-online.target sound.target
Wants=network-online.target

[Service]
Type=simple
User=visualai
WorkingDirectory=/home/visualai/Documents/Barcode_scanning/scanning
Environment=PYTHONUNBUFFERED=1
ExecStart=/home/visualai/Documents/Barcode_scanning/virtualenv/bin/python /home/visualai/Documents/Barcode_scanning/scanning/main.py
Restart=on-failure
RestartSec=3
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target
